*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
main .d-c {
  padding: 1rem;
}
main .d-c img {
  display: block;
  height: 140px;
  margin: 0 auto;
  border-radius: 100%;
}
main .d-c p {
  text-align: center;
  text-transform: capitalize;
  margin: 0.5rem 0;
}
main section {
  padding: 0;
  display: flex;
  justify-content: center;
}
main section a {
  display: inline-flex !important;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin: 0.2rem;
  border-radius: 100% !important;
}
main section a i {
  display: block !important;
  justify-self: center;
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (min-width: 507px) and (max-width: 768px) {
  main {
    grid-template-columns: 250px 250px;
  }
  .d-c img {
    height: 100px !important;
  }
  main div:nth-child(1) {
    display: none;
  }
  main div:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 506px) {
  main {
    grid-template-columns: 1fr;
  }
  .d-c img {
    height: 100px !important;
  }
  main div:nth-child(1) {
    display: none;
  }
  main div:nth-child(3) {
    display: none;
  }
}
.nav-wrapper {
  width: 100vw !important;
}
.nav-wrapper .nav-content {
  width: 80% !important;
}
.nav-wrapper .navbar-brand img {
  width: 80px;
}
.nav-wrapper li {
  padding: 0.5rem;
}
.nav-wrapper li a {
  opacity: 1;
  background: none;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  #navbar {
    background: #212529;
    padding: 1rem 0;
  }
  .navbar-brand img {
    width: 50px !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #navbar {
    background: #212529;
    padding: 1rem 0;
  }
  .navbar-brand img {
    width: 50px !important;
  }
}
.footer-container {
  width: 80%;
  margin: 0 auto;
}

.boxes {
  font-weight: lighter;
}
.boxes div {
  width: 33.3%;
}
.boxes div:nth-child(1) {
  padding: 0.5rem;
}
.boxes div:nth-child(1) h5 {
  font-size: 1.3rem;
}
.boxes div:nth-child(1) p {
  font-size: 0.8rem;
  font-weight: lighter;
}
.boxes div:nth-child(2) {
  padding: 0.5rem 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
.boxes div:nth-child(2) span {
  display: block;
  width: 50%;
}
.boxes div:nth-child(2) span:hover {
  color: orangered;
}
.boxes div:nth-child(2) span a {
  text-decoration: none;
  color: #fff;
}
.boxes div:nth-child(2) span a:hover {
  color: orangered;
}

span a {
  text-decoration: none;
  color: #fff;
}
span a:hover {
  color: orangered;
}

.bottom-view section {
  padding: 0;
}
.bottom-view .b-c {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.bottom-view .b-c span {
  display: block;
}
.bottom-view section a {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
.bottom-view section a i {
  display: block;
  font-size: 0.8rem;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .boxes {
    display: none !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .bottom-view section {
    padding: 1rem 0;
  }
  .boxes {
    display: none !important;
  }
  .b-c {
    flex-direction: column;
    text-align: center;
  }
}