.nav-wrapper {
  width: 100vw !important;
}
.nav-wrapper .nav-content {
  width: 80% !important;
}
.nav-wrapper .navbar-brand img {
  width: 80px;
}
.nav-wrapper li {
  padding: 0.5rem;
}
.nav-wrapper li a {
  opacity: 1;
  background: none;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  #navbar {
    background: #212529;
    padding: 1rem 0;
  }
  .navbar-brand img {
    width: 50px !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #navbar {
    background: #212529;
    padding: 1rem 0;
  }
  .navbar-brand img {
    width: 50px !important;
  }
}
.cb {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.cb .card-view {
  width: 100%;
  padding: 1rem 6rem;
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 10px 36px 0px, rgba(0, 0, 0, 0.0588235294) 0px 0px 0px 1px;
}
.cb .card-view .desc .txt-desc {
  text-align: justify;
}
.cb .card-view hr {
  width: 50%;
  margin: 0 auto;
}
.cb .card-view img {
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 10px 36px 0px, rgba(0, 0, 0, 0.0588235294) 0px 0px 0px 1px;
  display: block;
  height: 400px;
  margin: 0 auto 1rem;
  border-radius: 3px;
}
.cb .card-view .desc h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 769px) and (max-width: 1084px) {
  .cb .card-view img {
    height: 250px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .cb {
    width: 100%;
  }
  .cb .card-view img {
    height: 200px;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .cb {
    width: 100%;
  }
  .cb .card-view img {
    height: 150px;
  }
  .cb .card-view {
    padding: 1rem 3rem;
  }
}
.footer-container {
  width: 80%;
  margin: 0 auto;
}

.boxes {
  font-weight: lighter;
}
.boxes div {
  width: 33.3%;
}
.boxes div:nth-child(1) {
  padding: 0.5rem;
}
.boxes div:nth-child(1) h5 {
  font-size: 1.3rem;
}
.boxes div:nth-child(1) p {
  font-size: 0.8rem;
  font-weight: lighter;
}
.boxes div:nth-child(2) {
  padding: 0.5rem 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
.boxes div:nth-child(2) span {
  display: block;
  width: 50%;
}
.boxes div:nth-child(2) span:hover {
  color: orangered;
}
.boxes div:nth-child(2) span a {
  text-decoration: none;
  color: #fff;
}
.boxes div:nth-child(2) span a:hover {
  color: orangered;
}

span a {
  text-decoration: none;
  color: #fff;
}
span a:hover {
  color: orangered;
}

.bottom-view section {
  padding: 0;
}
.bottom-view .b-c {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.bottom-view .b-c span {
  display: block;
}
.bottom-view section a {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
.bottom-view section a i {
  display: block;
  font-size: 0.8rem;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .boxes {
    display: none !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .bottom-view section {
    padding: 1rem 0;
  }
  .boxes {
    display: none !important;
  }
  .b-c {
    flex-direction: column;
    text-align: center;
  }
}