// colors
$primary-white: #fff;
$primary-dark: #212529;
$secondary-color: #3BACB6;
$secondary-white: #EDE9E8;

// width and height
$center-width: 80%;
$small-brand-ic: 50px;
$max-height: 100%;
$max-width: 100%;
$viewport-height:  100vh;
$viewport-width: 100vw;